body{
	background-color: #F5F5F5;
}
#register_connection{
	padding: 50px;
	display: flex;
	justify-content: space-around;
}
#return{
	width: 60px;
	padding: 10px;
}
@media screen and (max-width: 800px){
	#register_connection{
		flex-direction: column;
	}
	section{
		padding: 20px 0;
	}
}